@model Avocado.WEB.Models.ViewModels.SummaryVM
@using Microsoft.Extensions.Options
@inject IOptions<Avocado.WEB.Common.StripeSettings> stripe

<form method="post" id="payment-form">
	<br />
	<div class="backgroundWhiteBorder">
		<div class="container">
			<div class="card">
				<div class="card-header bg-dark text-light ml-0">
					<div class="col-6">
						<i class="fa fa-shopping-cart"></i> &nbsp;
						Order Summary
					</div>
					<div class="col-6 offset-md-10 text-right">
						<a class="btn btn-outline-info btn-sm" asp-action="Index">Back to Cart</a>
					</div>
				</div>
				<div class="card-body">
					<div class="container rounded p-2">
						<div class="row">
							<div class="col-12 col-lg-7 pb-4">
								<div class="row">
									<h4 class="d-flex justify-content-between align-items-center mb-3">
										<span class="text-info">User Details:</span>
									</h4>
								</div>
								<div class="row my-1">
									<div class="col-3">
										<label>Name</label>
									</div>
									<div class="col-9">
										<input asp-for="Customer.Name" type="text" class="form-control" />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-3">
										<label>Last Name</label>
									</div>
									<div class="col-9">
										<input asp-for="Customer.LastName" type="text" class="form-control" />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-3">
										<label>Phone</label>
									</div>
									<div class="col-9">
										<input asp-for="Customer.PhoneNumber" required type="text" class="form-control" />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-3">
										<label>Email</label>
									</div>
									<div class="col-9">
										<input asp-for="Customer.UserName" required type="text" class="form-control" />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-3">
										<label>Address</label>
									</div>
									<div class="col-9">
										<input asp-for="Customer.StreetAddress" type="text" class="form-control" />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-3">
										<label>City</label>
									</div>
									<div class="col-9">
										<input asp-for="Customer.City" type="text" class="form-control" />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-3">
										<label>State</label>
									</div>
									<div class="col-9">
										<input asp-for="Customer.State" type="text" class="form-control" />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-3">
										<label>Postal Code</label>
									</div>
									<div class="col-9">
										<input asp-for="Customer.PostalCode" type="text" class="form-control" />
									</div>
								</div>
								<input type="hidden" asp-for="Customer.Id">
							</div>
							<div class="col-12 col-lg-5 row">
								<div class="col-12">
									<h4 class="d-flex justify-content-between align-items-center mb-3">
										<span class="text-info">Summary:</span>
									</h4>
									<ul class="list-group mb-3">
										@{ var orderTotal = 0.0;}


										@for (int i = 0; i < Model.cartItems.Count(); i++)
										{
											<input type="hidden" asp-for="@Model.cartItems[i].Product.Id" />
											<input type="hidden" asp-for="@Model.cartItems[i].Product.Name" />
											<input type="hidden" asp-for="@Model.cartItems[i].Product.Price" />
											<input type="hidden" asp-for="@Model.cartItems[i].Count" />
											<input type="hidden" asp-for="@Model.cartItems[i].ProductId" />
											<li class="list-group-item d-flex justify-content-between">
												<div>
													<h6 class="my-0">@Model.cartItems[i].Product.Name</h6>

													<small class="text-muted">Price: $@Model.cartItems[i].Product.Price</small>

												</div>
											</li>
											orderTotal += Model.cartItems[i].Product.Price * Model.cartItems[i].Count;
										}

										<li class="list-group-item d-flex justify-content-between bg-light">
											<small class="text-info"> Total (USD)</small>
											<strong class="text-info">$@orderTotal</strong>
										</li>

									</ul>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-12 col-md-5 offset-md-7">
							<button type="submit" class="btn btn-success form-control"  id="submit-button">Submit Order</button>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>


@section Scripts{
	<partial name="_ValidationScriptsPartial" />
	<script>
        function validateInput() {
            var app_name = document.getElementById("ApplicationUser_FullName").value;
            var app_phone = document.getElementById("ApplicationUser_PhoneNumber").value;
            var app_email = document.getElementById("ApplicationUser_Email").value;

            if (app_name.toString() == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter Full Name!'
                })
                return false;
            }
            if (app_phone.toString() == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter Phone Number!'
                })
                return false;
            }
            if (app_email.toString() == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter Email!'
                })
                return false;
            }

            return true;

        }
	</script>

}