@model Avocado.WEB.Models.ViewModels.OrderHeaderIndexVM
@if (Model.OrderHeaders.Count() > 0)
{
	<div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-lg-10 py-3">
				<table class="table table-borderless text-center">
					<tr class="text-success">
						<th>Order</th>
						<th>Date</th>
						<th>Total</th>
						<th>Customer</th>
						<th>Order status</th>
						<th>Payment status</th>
						<th></th>
					</tr>
					@for (int i = 0; i < Model.OrderHeaders.Count(); i++)
					{
						<tr>
							<td>@Model.OrderHeaders[i].Id</td>
							<td>@Model.OrderHeaders[i].OrderDate.ToShortDateString()</td>
							<td>$@Model.OrderHeaders[i].OrderTotal</td>
							<td>@Model.OrderHeaders[i].FullName</td>
							<td>@Model.OrderHeaders[i].OrderStatus</td>
							<td>@Model.OrderHeaders[i].PaymentStatus</td>
							<td>
								<a asp-action="Details" asp-route-id="@Model.OrderHeaders[i].Id">
									<button class="btn btn-outline-success btn-sm">Details</button>
								</a>

								<button class="btn btn-outline-danger btn-sm" style="display: inline-table" disabled>Delete</button>
							</td>
						</tr>
					}

				</table>
				<div pagination="@Model.PaginationModel" clases-enabled="true" page-class="btn border" page-class-normal="btn btn-light"
					 page-class-selected="btn btn-success active" class="btn-group float-end box-shadow mb-5"></div>
			</div>
			@*<div class="col-md-1"></div>*@
		</div>
	</div>
	
}
else
{
	<p>No orders to display</p>
}