@model Avocado.WEB.Models.ViewModels.OrderHeaderIndexVM
@if (Model.OrderHeaders.Count() > 0)
{
<div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-lg-10 py-3">
			<table class="table table-borderless text-center">
				<tr class="text-dark">
					<th>Order</th>
					<th>Date</th>
					<th>Total</th>
					<th>Customer</th>
					<th>Order status</th>
					<th>Payment status</th>
					<th></th>
				</tr>				@foreach (var item in Model.OrderHeaders)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.OrderDate.ToShortDateString()</td>
						<td>$@item.OrderTotal</td>
						<td>@item.FullName</td>
						<td>@item.OrderStatus</td>
						<td>@item.PaymentStatus</td>
						<td>
							<a asp-action="Edit">Edit</a>
							<a asp-action="Delete">Delete</a>
						</td>
					</tr>
				}
			</table>
			<div pagination="@Model.PaginationModel" clases-enabled="true" page-class="btn border" page-class-normal="btn btn-light"
				 page-class-selected="btn btn-success active" class="btn-group float-end box-shadow mb-5"></div>
		</div>
		<div class="col-md-1"></div>	
	</div>	
</div> 
}
else
{
	<p>No orders to display</p>
}