@model Avocado.WEB.Models.ViewModels.OrderHeaderIndexVM
@if (Model.OrderHeaders.Count() > 0)
{
	<div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-lg-10 py-3">
				<table class="table table-borderless text-center">
					<tr class="text-success">
						<th>Order</th>
						<th>Date</th>
						<th>Total</th>
						<th>Customer</th>
						<th>Order status</th>
						<th>Payment status</th>
						<th></th>
					</tr>
					@for (int i = 0; i < Model.OrderHeaders.Count(); i++)
					{
						<tr>
							<td>@Model.OrderHeaders[i].Id</td>
							<td>@Model.OrderHeaders[i].OrderDate.ToShortDateString()</td>
							<td>$@Model.OrderHeaders[i].OrderTotal</td>
							<td>@Model.OrderHeaders[i].FullName</td>
							<td>@Model.OrderHeaders[i].OrderStatus</td>
							<td>@Model.OrderHeaders[i].PaymentStatus</td>
							<td>
								<button id="modal" data-toggle="modal" data-value="@Model.OrderHeaders[i].Id" data-target="#details"
								   data-date="@Model.OrderHeaders[i].OrderDate.ToShortDateString()"
								   data-total="@Model.OrderHeaders[i].OrderTotal"
								   data-orderstatus="@Model.OrderHeaders[i].OrderStatus"
								   data-paymentstatus="@Model.OrderHeaders[i].PaymentStatus"
								   data-trackingnmb="@Model.OrderHeaders[i].TrackingNumber"
								   data-carrier="@Model.OrderHeaders[i].Carrier"
								   class="btn btn-outline-success btn-sm" style="display:inline-table">Edit</button>
								<button class="btn btn-outline-success btn-sm" style="display: inline-table">Delete</button>
							</td>
						</tr>
					}
					@*@foreach (var item in Model.OrderHeaders)
						{
							<tr>
								<td>@item.Id</td>
								<td>@item.OrderDate.ToShortDateString()</td>
								<td>$@item.OrderTotal</td>
								<td>@item.FullName</td>
								<td>@item.OrderStatus</td>
								<td>@item.PaymentStatus</td>
								<td>
									<button id="edit" value="@item.Id" class="btn btn-outline-info btn-sm" style="display:inline-table">Edit</button>
									<button class="btn btn-outline-info btn-sm" style="display: inline-table">Delete</button>
								</td>
							</tr>
						}*@
				</table>
				<div pagination="@Model.PaginationModel" clases-enabled="true" page-class="btn border" page-class-normal="btn btn-light"
					 page-class-selected="btn btn-success active" class="btn-group float-end box-shadow mb-5"></div>
			</div>
			@*<div class="col-md-1"></div>*@
		</div>
	</div>
	<!--Modal/-->
	<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="details" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-success" id="exampleModalLabel">Order update</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">
					<form id="form">
						<div class="row">
							<div class="col-md-4">
								<label class="text-success">Order number</label>
								<textarea class="form-control order-number" id="ordernumber" readonly></textarea>
							</div>
							<div class="col-md-4">
								<label class="text-success">Date</label>
								<textarea class="form-control order-date" id="order-date" readonly></textarea>
							</div>
							<div class="col-md-4">
								<label class="text-success">Total</label>
								<textarea class="form-control order-total" id="order-total" readonly></textarea>
							</div>

							<div class="col-md-6">
								<label class="text-success">Order status</label>
								<textarea class="form-control order-orderStatus" id="order-orderStatus" readonly></textarea>
							</div>
							
								<div class="col-md-6">
									<label class="text-success">Payment status</label>
									<textarea class="form-control order-paymentStatus" id="order-paymentStatus" readonly></textarea>
								</div>
								<div class="col-md-6">
									<label class="text-success">Carrier</label>
									<textarea class="form-control order-carrier" id="carrier"></textarea>
								</div>
								<div class="col-md-6">
									<label class="text-success">Tracking number</label>
									<textarea class="form-control order-trackingNmb" id="tracking"></textarea>
								</div>
							
						</div>
						<div class="modal-footer">
							<button type="submit" id="submit" class="btn btn-success">Update</button>
							<button class="btn btn-success" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
				
			</div>
		</div>
	</div>

}
else
{
<p>No orders to display</p>
}
@section Scripts{
	<script>
		$('#details').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget)
			var number = button.data('value')
			var date = button.data('date')
			var total = button.data('total')
			var orderStatus = button.data('orderstatus')
			var paymentStatus = button.data('paymentstatus')
			var carrier = button.data('carrier')
			var trackingNmb = button.data('trackingnmb')
			var modal = $(this)
			modal.find('.order-number').text(number)
			modal.find('.order-date').text(date)
			modal.find('.order-total').text('$' + total)
			modal.find('.order-orderStatus').text(orderStatus)
			modal.find('.order-paymentStatus').text(paymentStatus)
			modal.find('.order-carrier').text(carrier)
			modal.find('.order-trackingNmb').text(trackingNmb)
		})

	document.addEventListener('DOMContentLoaded', () => {
		const form = document.querySelector('#form');
		form.addEventListener('submit', (e) => {
			e.preventDefault();
			e.stopPropagation();

			class OrderHeader{
				constructor() {
					this.Id;
					this.carrier;
					this.trackingNumber
				}
			}
			const Details = new OrderHeader();
			
			const elements = form.elements;

			Details.Id = parseInt(elements.ordernumber.value);
			Details.carrier = elements.carrier.value;
			Details.trackingNumber = elements.tracking.value;
			console.log(Details);
			debugger;

			return fetch('https://localhost:44363/orderHeaders', {
				headers: {
					'Content-type': 'application/json'
				},
				body: JSON.stringify(Details),
				method: 'PATCH'
			}).then(response => 
				response.json()
			).then(data =>
				alert(JSON.stringify(data.value))
			).catch(console.log.bind(console));
			
		});
	});
</script>
}