@model Avocado.WEB.Models.ViewModels.HomeIndexVM
@{
	ViewData["Title"] = "Home Page";
}
<div class="text-center">
	<div class="row" >
		<div class="col-md-2 position-fixed" >
			<ul class="py-3 " style="width:20vw;height:50vw;">
				<li class="text-center list-group btn btn-outline-success rounded filter-button" data-filter="all">&nbsp;All&nbsp;</li>
				<br />
				@foreach (var item in Model.Categories)
				{
					<li class="text-center list-group btn btn-outline-success rounded filter-button" data-filter="@item.Name.Replace(" ","_")">&nbsp; @item.Name&nbsp;</li>
					<br />
				}
			</ul>
		</div>
		<div class="col-md-10 offset-4 py-3" style="width:70%;height:50vw;">
			@foreach (var items in Model.Products)
			{
				<div class="card border-success mb-3 filter @items.Category.Name.Replace(" ","_")" >
					<div class="card-header text-light bg-success opacity-50 text-success">@items.Name</div>
					<div class="card-body bg-success opacity-25">

						<img src="~/images/@items.ImgUri" class="img-fluid rounded-start" alt="...">

					</div>
					<div class="card-footer bg-success opacity-75">

						<span class="text-light">$@items.Price</span>
						<a asp-action="Details" asp-route-id="@items.Id" class="btn btn-success rounded offset-8">Details</a>
					</div>
				</div>
				}
		</div>
		@*<div class="col-md-2"></div>*@
	</div>
</div>
@section Scripts{
	<script>
		$(document).ready(function () {
			$('.filter-button').click(function () {
				let val = $(this).attr('data-filter');
				if (val === 'all') {
					$('.filter').show();
				}
				else {
					$('.filter').not('.' + val).hide();
					$('.filter').filter('.' + val).show();
				}
			});
		});
	</script>
}